<div class="contents">
  <div class="side__content">
    <div id="nomarl" class="side">
      <h2 class="side__name">科目設定</h2>
      <ul class="side__left">
        <li><a href= "incomes" >収入科目設定</a></li>
        <li><a href= "fixedcosts" >固定費科目設定</a></li>
        <li><a href= "variablecosts" >変動費科目設定</a></li>
      </ul>
      <h2 class="side__name">収支登録</h2>
      <ul class="side__center">
        <li><a href= "income_values" >収入金額登録</a></li>
        <li><a href= "fixedcost_values" >固定費金額登録</a></li>
        <li><a href= "variablecost_values" >変動費金額登録</a></li>
      </ul>
      <h2 class="side__name">収支確認</h2>
      <ul class="side__right">
        <li><a href= "balance_confirm" >収支確認画面</a></li>
      </ul>
    </div>
  </div>
</div> 
