<div class="header">
      <div class="icons">
      <p class="title">シンプル家計簿</p>
        <% if user_signed_in? %>
          <div class="icon">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to "トップページ", '/', class: "icon__home" %>
          </div>
        <% else %>
          <div class="icon">
            <%= link_to "ログイン", new_user_session_path, class: 'icon__in' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'icon__new' %>
          </div>
        <% end %>
      </div>
</div>