.calendar__image {
  float: right;
}

.calendar-heading{
  margin-left: 20px;
  font-size: 20px;
  a {
    text-decoration: none;
    color: #000;
  }
}



.tbody {
  border-collapse:  collapse;
}
th {
  padding: 5px;
  
}
tr,td {   
  padding: 5px;
  font-weight:  bold;
  border-style:none;
  text-decoration: none; 
}


a {
  color: black;
  text-decoration: none;
  outline: none;
  transition: all .2s;
  & ::before,
  & ::after {
    position: absolute;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid transparent;
  }
  & ::before {
    top: -2px;
    left: -2px;
  }
  & ::after {
    bottom: -2px;
    right: -2px;
  }
  &:hover {
    color: #3CCACE;
    & ::before, & ::after {
    width: 100%;
    height: 100%;
    }  
  }
}
