<div class="image">
  <%= image_tag '/pic_column_depression-1.jpg', class: "content__image" %> 
  <%= image_tag '/40402-02.jpg', class: "content__image" %>
  <%= image_tag '/autamn3.jpg', class: "content__image" %>  
  <%= image_tag '/66f768b5db3d85297950711e4ed5096f_original.jpg', class: "content__image" %>
</div> 